<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" name="memberName" class="form-control" placeholder="회원명" th:value="${orderSearch.memberName}">
            </div>
            <div class="form-group">
                <select class="form-control" name="orderStatus">
                    <option value="">주문상태</option>
                    <option value="ORDER" th:selected="${orderSearch.orderStatus eq 'ORDER'}">주문</option>
                    <option value="CANCEL" th:selected="${orderSearch.orderStatus eq 'CANCEL'}">취소</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">검색</button>
        </form>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>회원명</th>
            <th>대표상품 이름</th>
            <th>대표상품 주문가격</th>
            <th>대표상품 주문수량</th>
            <th>상태</th>
            <th>일시</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${orders}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.member.name}"></td>
                <td th:text="${item.orderItems[0].item.name}"></td>
                <td th:text="${item.orderItems[0].orderPrice}"></td>
                <td th:text="${item.orderItems[0].count}"></td>
                <td th:text="${item.status}"></td>
                <td th:text="${item.orderDate}"></td>
                <td th:if="${#strings.toString(item.status)} == 'ORDER'">
                    <a th:href="@{/items/{id}/cancel(id=${item.id})}"  class="btn btn-danger">주문취소</a>
                </td>
                <td th:if="${#strings.toString(item.status)} != 'ORDER'">
                        mlm
                    <p th:text="${item.status}"></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>